<%- include('header')%>
<%- include('sidebar')%>
<%- include('navbar')%>

<!-- Content wrapper -->
<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <nav aria-label="breadcrumb" class="fs-4">
      <ol class="breadcrumb">
        <li class=""><a href="/viewtopics?id=<%= lesson._id %>" class="text-hover-primary"><i class='bx bx-arrow-back me-2' style="cursor: pointer; color: #566A7F;"></i></a> </li>
        <li class="breadcrumb-item">Course</li>
        <li class="breadcrumb-item"><a href="/viewcourse" class="text-hover-primary">View All Course</a></li>
        <li class="breadcrumb-item"><a href="/viewlesson?id=<%= lesson.courseId._id %>&name=<%= lesson.courseId.course %>" class="text-hover-primary">View All Lesson</a></li>
        <li class="breadcrumb-item"><a href="/viewtopics?id=<%= lesson._id %>" class="text-hover-primary">View All Topic</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Topic</li>
      </ol>
  </nav>
    <!-- Basic Layout & Basic with Icons -->
    <div class="row">
      <!-- Basic with Icons -->
      <div class="col-md-12">
        <div class="card mb-4">
          <h5 class="card-header fs-4 fw-bold">Edit Topic</h5>
          <!-- Account -->
          <form action="" method="post" enctype="multipart/form-data">
            <div class="card-body">
              <% if (typeof message !=='undefined' ) { %>
              <p style="color: rgb(255, 0, 0);">
                <%= message %>
              </p>
              <% } %>
              <% if (flash.error.length > 0) { %>
                <div class="alert alert-danger alert-dismissible fade show fw-bold" role="alert">
                    <%= flash.error %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            <% } %>                    
              <div class="row">
                <div class="col-md-12">
                  <div class="row mb-3">
                    <div class="d-flex align-items-start align-items-sm-center gap-4">
                      <label class="col-sm-1 col-form-label" for="basic-icon-default-fullname">File</label>

                      <!-- topic id -->
                      <input type="hidden" name="id" value="<%= edittopic.id %>">

                      <!-- lesson Id -->
                      <input type="hidden" name="lessonId" value="<%= edittopic.lessonId %>">

                      <!-- old image/file -->
                      <input type="hidden" name="oldFile" value="<%= edittopic.allfile %>">
  
                      <!-- old video -->
                      <input type="hidden" name="oldVideo" value="<%= edittopic.video %>">

                      <% if (edittopic.allfile) { %>
                        <% 
                        const fileExtension = edittopic.allfile.split('.').pop().toLowerCase(); 
                        %>
                        <% if (fileExtension === 'pdf' || fileExtension === 'pptx' || fileExtension === 'zip' || fileExtension === 'docx') { %>
                            <embed src="/<%= edittopic.allfile %>" width="100" height="100" class="rounded"  id="current-file" />
                        <% } else { %>
                            <img src="/<%= edittopic.allfile %>" alt="<%= edittopic.allfile %>" class="d-block rounded border border-gray-300" height="100" width="100"  id="current-file" />
                        <% } %>
                    <% } %>
                    
                      <div class="button-wrapper">
                        <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                          <span class="d-none d-sm-block">Update</span>
                          <i class="bx bx-upload d-block d-sm-none"></i>
                          <input type="file" id="upload" name="allfile" class="account-file-input" hidden accept="" />
                        </label>
                      </div>

                    </div>
                  </div>
                  <hr>
                </div>
              </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="row mb-4">
                      <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">Topic</label>
                      <div class="col-sm-10">
                        <div class="input-group input-group-merge">
                          <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i></span>
                          <input type="text" class="form-control" name="topic" value="<%= edittopic.topic %>" required id="basic-icon-default-fullname" placeholder="Enter slider Title" aria-label="slider" aria-describedby="basic-icon-default-fullname2" />
                        </div>
                      </div>
                    </div>
                    <div class="row mb-4">
                      <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">Video URL</label>
                      <div class="col-sm-10">
                        <div class="input-group input-group-merge">
                          <span id="basic-icon-default-fullname2" class="input-group-text"><i class='bx bx-link-alt'></i></span>
                          <input type="text" id="homepage" name="link" class="form-control" placeholder="Enter URL" accept="" value="<%= edittopic.link %>">
                        </div>
                      </div>
                    </div>
                    <div class="row mb-4">
                      <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">Video</label>
                      <div class="col-sm-10">
                        <div class="input-group input-group-merge">
                          <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-image"></i></span>
                          <input type="file" id="video_file" name="video_file" class="form-control" accept=".mp4" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                     <!--begin::Input group-->
                     <% if (edittopic && edittopic.video) { %>
                      <div class="row mb-3" id="video-preview">
                        <label class="col-sm-3 col-form-label" for="basic-icon-default-fullname">Current Video</label>
                        <div class="col-sm-9">
                          <video width="400" height="200" controls  id="video-preview-video"  class="border border-gray-300 p-3">
                            <source src="<%=  edittopic.video %>" type="video/mp4">
                          </video>
                        </div>
                      </div>
                  <% } %>
                   <!--end::Input group-->
                  </div>
                </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="row mb-3">
                    <label class="col-sm-1 col-form-label" for="basic-icon-default-fullname">Description</label>
                    <div class="col-sm-11">
                      <textarea class="form-control" name="description" id="kt_docs_second_ckeditor_classic" placeholder="Write Your content"><%- edittopic.description %></textarea>
                    </div>
                  </div>
                  <div class="row justify-content-end">
                    <div class="col-sm-11">
                      <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                  </div>
                </div>
              </div>
              
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / Content -->

<%- include('footer')%>