<%- include('header')%>
<%- include('sidebar')%>
<%- include('navbar')%>

<!-- Content wrapper -->
<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"> Reset Password</h4>

    <div class="row">
      <!-- Basic -->
      <div class="col-md-6">
        <div class="card mb-4">
          <form action="/resetpassword" method="post">
            <h5 class="card-header">Reset Password </h5>
            <div class="card-body demo-vertical-spacing demo-only-element">
              <% if (typeof message !=='undefined' ) { %>
              <p style="color: rgb(255, 0, 0);">
                <%= message %>
              </p>
              <% } %>
              <div class="form-password-toggle">
                <label class="form-label" for="basic-default-password12">Old
                  Password</label>
                <div class="input-group">
                  <input type="password" name="oldpassword" class="form-control" id="basic-default-password12" placeholder="Enter old password" aria-describedby="basic-default-password2" required />
                  <span id="basic-default-password2" class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                </div>
              </div>
              <div class="form-password-toggle">
                <label class="form-label" for="basic-default-password12">New
                  Password</label>
                <div class="input-group">
                  <input type="password" name="password" class="form-control" id="basic-default-password12" placeholder="Enter new password" aria-describedby="basic-default-password2" required />
                  <span id="basic-default-password2" class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                </div>
              </div>
              <div class="form-password-toggle">
                <label class="form-label" for="basic-default-password12">Confirm
                  Password</label>
                <div class="input-group">
                  <input type="password" name="cpassword" class="form-control" id="basic-default-password12" placeholder="Enter confirm password" aria-describedby="basic-default-password2" required />
                  <span id="basic-default-password2" class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Reset Password</button>
            </div>

          </form>
        </div>
      </div>
    </div>

    <%- include('footer')%>