<%- include('header')%>
<%- include('sidebar')%>
<%- include('navbar')%>

<!-- Content wrapper -->
<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
 
    <nav aria-label="breadcrumb" class="fs-4">
      <ol class="breadcrumb">
        <li class=""><a href="/viewtopics?id=<%= lesson._id %>" class="text-hover-primary"><i class='bx bx-arrow-back me-2' style="cursor: pointer; color: #566A7F;"></i></a> </li>
        <li class="breadcrumb-item">Course</li>
        <li class="breadcrumb-item"><a href="/viewcourse" class="text-hover-primary">View All Course</a></li>
        <li class="breadcrumb-item"><a href="/viewlesson?id=<%= lesson.courseId._id %>&name=<%= lesson.courseId.course %>" class="text-hover-primary">View All Lesson</a></li>
        <li class="breadcrumb-item"><a href="/viewtopics?id=<%= lesson._id %>" class="text-hover-primary">View All Topic</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Topic</li>
      </ol>
  </nav>

    <div class="row">
      <div class="col-md-12">
        <div class="card mb-4">
          <h5 class="card-header fs-4 fw-bold">Add Topic</h5>
          <form action="" method="post" enctype="multipart/form-data">
            <div class="card-body">
              <% if (typeof message !=='undefined' ) { %>
              <p style="color: rgb(255, 0, 0);">
                <%= message %>
              </p>
              <% } %>
              <% if(flash.error.length> 0){ %>
              <div class="d-inline-block text-danger fs-5 pb-2 mb-3 fw-bold" role="alert">
                <%= flash.error %>
              </div>
              <% } %>

              <div class="row">
                <div class="col-md-6">
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">Topic</label>
                    <div class="col-sm-10">
                      <div class="input-group input-group-merge">
                        <span id="basic-icon-default-fullname2" class="input-group-text"><i class='bx bx-book'></i></span>
                        <input type="text" class="form-control" name="topic" value="" required id="basic-icon-default-fullname" placeholder="Enter Topic Name" aria-label="education" aria-describedby="basic-icon-default-fullname2" />
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">File</label>
                    <div class="col-sm-10">
                      <div class="input-group input-group-merge">
                        <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-image"></i></span>
                        <input type="file" id="upload" name="allfile" class="form-control" accept="" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">URL</label>
                    <div class="col-sm-10">
                      <div class="input-group input-group-merge">
                        <span id="basic-icon-default-fullname2" class="input-group-text"><i class='bx bx-link-alt'></i></span>
                        <input type="text" id="homepage" name="link" class="form-control" placeholder="Enter URL (YouTube Video Code)" accept="">
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">UPLOAD Video</label>
                    <div class="col-sm-10">
                      <div class="input-group input-group-merge">
                        <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-image"></i></span>
                        <input type="file" id="upload" name="video_file" class="form-control" accept=".mp4" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="row mb-3">
                    <label class="col-sm-1 col-form-label" for="basic-icon-default-fullname">description</label>
                    <div class="col-sm-11">
                      <div class="">
                        <textarea class="form-control" name="description" id="kt_docs_second_ckeditor_classic" placeholder="Write Your content"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row justify-content-end">
                <div class="col-sm-11">
                  <button type="submit" class="btn btn-primary">Create</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / Content -->

<%- include('footer')%>