<%- include('header')%>
<%- include('sidebar')%>
<%- include('navbar')%>

<div class="content-wrapper">
  <!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y">
    <nav aria-label="breadcrumb" class="fs-4">
      <ol class="breadcrumb">
        <li class=""><i class='bx bx-arrow-back me-2' style="cursor: pointer; color: #566A7F;"></i></a></li>
        <li class="breadcrumb-item">Silder</li>
        <li class="breadcrumb-item active" aria-current="page">View All Silder</li>
      </ol>
    </nav>

    <div class="button-wrapper">
      <a href="/slider" class="btn btn-primary me-2 mb-4">Add More Slider</a>
    </div>

    <!-- begin::card -->
    <div class="card">
      <h5 class="card-header">Slider records</h5>
      <!-- begin:: table -->
      <div class="table-responsive text-nowrap">
        <table class="table" id="intro-table">
          <thead>
            <tr>
              <th>SR.</th>
              <th>IMAGE</th>
              <th>COURSE</th>
              <th>STATUS</th>
              <th>ACTION</th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            <% if (sliders.length > 0) { %>
              <% for (let i = 0; i < sliders.length; i++) { %>
                <tr>
                  <td class="align-middle"> <%= i + 1 %> </td>

                  <td class="align-middle">
                    <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                      <a href="/<%= sliders[i].avatar ? sliders[i].avatar :"#" %>"  data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-xm pull-up"  data-fslightbox="lightbox-basic">
                        <img src="/<%= sliders[i].avatar %>"  class="rounded-circle border border-gray-800" />
                      </a>
                    </ul>
                  </td>

                  <td>
                    <div class="mb-0 text-sm"> <%= sliders[i].courseId.course %> </div>
                  </td>
        
                <!-- publish/unpublish status -->
                <% for(let j in loginData){ %>
                  <% if(String(loginData[j]._id) === String(locals.user.id)) { %>
                    <% if(loginData[j].is_admin == 1){ %>
                      <td data-bs-toggle="modal" data-bs-target="#slider_status<%= i %>">
                        <% if (sliders[i].status === "Publish") { %>
                          <div class="badge bg-label-success">Publish</div>
                        <% } else { %>
                          <div class="badge bg-label-danger">UnPublish</div>
                        <% } %>
                      </td>
                    <% } else if (loginData[j].is_admin == 0){ %>
                      <td data-bs-toggle="modal" data-bs-target="#kt_modal_no_access" data-message="You don't have permission to <b>publish/unpubilsh slider</b>. As a <b>demo admin</b>, you can only view the content.">
                        <% if (sliders[i].status === "Publish") { %>
                          <div class="badge bg-label-success">Publish</div>
                        <% } else { %>
                          <div class="badge bg-label-danger">UnPublish</div>
                        <% } %>
                      </td>
                    <% } %>
                  <% } %>
                <% } %>
                 
                  <td class="align-middle">
                    <% for (let j = 0; j < loginData.length; j++) { %>
                      <% if (String(loginData[j]._id) == String(locals.user.id)) { %>
                        <% if (loginData[j].is_admin === 1) { %>
                          <a href="/editslider?id=<%= sliders[i].id %>">
                            <i class="bx bx-edit-alt me-1 text-primary"></i>
                          </a>
                          <a data-bs-toggle="modal" data-bs-target="#delete_slider_modal<%= i %>">
                            <i class="bx bx-trash me-1 text-danger"></i>
                          </a>
                        <% } else if (loginData[j].is_admin == 0) { %>
                          <a data-bs-toggle="modal" data-bs-target="#kt_modal_no_access" data-message="You don't have permission to <b>edit slider</b>. As a <b>demo admin</b>, you can only view the content.">
                            <i class="bx bx-edit-alt me-1 text-primary"></i>
                          </a>
                          <a data-bs-toggle="modal" data-bs-target="#kt_modal_no_access" data-message="You don't have permission to <b>delete slider</b>. As a <b>demo admin</b>, you can only view the content.">
                            <i class="bx bx-trash me-1 text-danger"></i>
                          </a>
                        <% } %>
                      <% } %>
                    <% } %>
                  </td>
                </tr>

                <!-- Modal for Publish/Unpublish Confirmation -->
                <div class="modal fade" id="slider_status<%= i %>" tabindex="-1" data-bs-backdrop="static">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel1">Confirmation</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <hr>
                      <div class="modal-body">
                        <p class="message">Are you sure..!! you want to <%= (sliders[i].status === "Publish") ? 'unpublish' : 'publish' %> the slider for this course <strong><%= sliders[i].courseId.course %></strong> ..?</p>
                      </div>
                      <hr>
                      <div class="modal-footer">
                        <a href="/silder-status?id=<%= sliders[i]._id %>">
                          <button type="button" class="btn btn-primary">
                            <%= sliders[i].status === "Publish" ? 'Unpublish' : 'Publish' %>
                          </button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Modal for Delete Confirmation -->
                <div class="modal fade" id="delete_slider_modal<%= i %>" tabindex="-1" data-bs-backdrop="static">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel<%= i %>">Delete Confirmation</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <hr>
                      <div class="modal-body">
                        <p class="message">Are you sure..!! you want to delete the slider for this course <strong><%= sliders[i].courseId.course %></strong> ..?</p>
                      </div>
                      <hr>
                      <div class="modal-footer">
                        <a href="/deleteslider?id=<%= sliders[i]._id %>">
                            <button type="button" class="btn btn-danger">Delete</button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

              <% } %>
              <% } %>
          </tbody>
          
        </table>
      </div>
      <!-- end:: table -->
    </div>
    <!-- end::card -->

    <!-- Modal for No Access -->
    <div class="modal fade" id="kt_modal_no_access" tabindex="-1" data-bs-backdrop="static">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel1">Not Authorized</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <hr>
          <div class="modal-body">
            <p class="message-demo" id="modal-message"></p>
          </div>
          <hr>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<%- include('footer')%>
